@using Infrastructuur.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
}
@model UserEntity

<div class="contact-us pt-5">
<div class="container signup-form pt-5 contact-us">	
    <form action="ValidateLogin" method="post">
		<h2 class="pt-3">Log in</h2>
		<p class="lead">We hope you have a great time reading and discovering new stories on our platform!</p>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
				<input type="text" class="form-control" asp-for="UserName" placeholder="Username" required="required">
			</div>
        </div>
	
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock"></i></span>
				<input  class="form-control" type="password" asp-for="Password" placeholder="Password" required="required">
			</div>
        </div>  
		<div class="form-group">
       <div class="col-lg-12 pt-3">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-dark-button w-100"><i class="fa fa-paper-plane"></i></button>
                            </fieldset>
                        </div>
        </div>
		@*<p class="small text-center">By clicking the Sign Up button, you agree to our <br><a href="#">Terms &amp; Conditions</a>, and <a href="#">Privacy Policy</a>.</p>*@

@*		<div class="text-center" >Forgot password? <a class="pointer" data-toggle="modal" data-target="#exampleModal">Click here</a>.</div>*@
    </form>
    <!-- Button trigger modal -->

	</div>
</div>


@*
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send password to email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
            <form asp-action="PasswordReseter" asp-controller="User" method="post">
      <div class="modal-body">
     <input type="email" name="email" placeholder="E-mail address here" class="form-control"/>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn bg-black text-white" data-dismiss="modal">Send</button>
        <button type="button" class="btn bg-black text-white">Close</button>
      </div>
           </form>
    </div>
  </div>
</div>*@