html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.banner-img {
    background-image: url("../Images/StoryzonBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 575px) {
    .mobile-w-50 {
        width: 50% !important;
    }
}