html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.banner-img {
    background-image: url("../Images/StoryzonBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.top-buttons {
    width: 70em;
    display: flex;
}

    .top-buttons form {
        width: 70em;
        padding-left: 2em;
    }

.input-filtering {
    position: relative;
    display: flex !important;
    grid-template-columns: repeat(3,1fr) !important;
    left: 34em;
    top: -1.7em;
}

.input-filtering select {
    max-width: 10em;
}
.input-filtering input {
}

.input-filtering button {
}

@media (max-width: 575px) {
    .mobile-w-50 {
        width: 50% !important;
    }

    .top-buttons {
        display: flex !important;
        flex-direction: row;
    }

    .baar {
        display: none;
    }

    .input-filtering {
        left: 3em;
        top: 2.8em;
        margin:10px auto;
    }

}

@media (max-width: 1200px) {

    .input-filtering {
        left: -0.5em;
        top: -0.4em;
        margin: 10px 0;
    }

}

.filter-form {
    display: flex;
}

    .filter-form select {
        height: 3em;
    }

.login-container {
    margin-top: 180em !important;
    padding-top: 180em !important;
}
