@using Infrastructuur.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
      var message = TempData["email"] as string;
}
@model ContactEntity
<br />
<div class="contact-us pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Contact Us</h2>
                    <span>We'd love to hear from you, please drop us a line if you've any query related to our products or services.</span>
                </div>
                <form id="contact" asp-action="Contact" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <fieldset>
                                <input asp-for="UserName" type="text" id="name" placeholder="Your name" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <input asp-for="UserEmail" type="email" id="email" placeholder="Your email" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <textarea asp-for="Message" rows="6" id="message" placeholder="Your message" required=""></textarea>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-dark-button w-100"><i class="fa fa-paper-plane"></i></button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@if(!string.IsNullOrEmpty(message)){
  <div class="alert alert-success" role="alert" id="alert">
  @message
</div>
}